form, input, select, .button, textarea {
    display: block;
    margin: 1em auto;
}

input, select, textarea {
    width: 60%;
    height: 2em;
    border: none;
    background-color: transparent;
}

textarea {
    height: 100%;
}


input:focus, select:focus, textarea:focus {
    outline: none;
}


