.head {
    background-color: var(--colorPrimario);
    margin-bottom: 16px;
    margin: auto;
    width: 40%;
    border-radius: 5px;
    box-shadow: var(--shadows);
}

.delete:hover {
    background-color: var(--colorBotonDeleteHover);
}

.edit-user {
    cursor: pointer;
}

.edit:hover {
    background-color: var(--colorEditHover);
}

.div-botones {
    margin: 2em;
}

.div-cancioneros {
    margin: 2em;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--modalColor);
    margin: auto;
    padding: 16px;
    border: var(--border);
    width: 32%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    margin: 1em;
    font-size: 24px;
}

.input-modal {
    margin: .5em auto;
    padding: .5em;
}

.btn-modal {
    margin: .5em 0;
    padding: .5em;
    cursor: pointer;
}

.cancionero-div {
    margin: auto;
}

.div-cancionero {
    background-color: var(--colorCancionero);
    border-radius: 5px;
    width: 30%;
    margin: 1em auto;
    padding: 1em;
    cursor: pointer;
    box-shadow: var(--shadows);
}

.div-cancionero:hover {
    background-color: var(--colorCancioneroHover);
}

.modal-edit {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content-edit {
    background-color: #fefefe;
    margin: auto;
    padding: 16px;
    border: 1px solid #888;
    width: 60%;
}

input,
label,
.button-modificar {
    display: block;
    margin: .5em auto;
}

input,
label {
    width: 50%;
}

#content-box {
    width: 100%;
}

table {
    width: 95%;
}

.modal-edit-user {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content-edit-user {
    background-color: #fefefe;
    margin: auto;
    padding: 16px;
    border: 1px solid #888;
    width: 60%;
}
