* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Unbounded', cursive;
    box-sizing: border-box;
}

/* #### ELEMENTOS #### */

nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    background-color: antiquewhite;
}

hgroup img {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
}

table {
    margin: auto;
}

th {
    background-color: antiquewhite;
    padding: .5em 3em;
    border: 1px solid rgb(255, 166, 156);

}

td {
    padding: .5em 0;
    border: 1px solid rgb(255, 166, 156);
}

td .add {
    padding: 0;
}

td a {
    padding: 0 1em;
    cursor: pointer;
}

td:hover {
    background-color: rgb(255, 248, 239);
}


hr {
    margin-bottom: 46px;
}
/* td a:hover::after {
    content: attr(data-title);
    background-color:rgb(255, 209, 204);
    font-size: 12px;
    position: absolute;
    border-radius: 8px;
    padding: 1em;
} */

/* #### CLASES #### */

/* NAV */
.inicio {
    width: 16vw;
    text-align: start;
}

.menu {
    width: 16vw;
    text-align: end;
    cursor: pointer;
}

.head {
    padding: 2em;
}

.song-title {
    margin: 0 0 24px 0;
    font-family: 'Eczar', serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
}

.description {
    margin-bottom: 1em;
}

.sub-title {
    font-family: 'Eczar', serif;
    font-weight: 400;
    font-size: 1.4vw;
}

.box {
    margin: 2vw 16vw;
}

.paragraph {
    margin: 6vh;
}

.line {
    margin: 3vh;
}

.fa-user {
    font-size: 24px;
}

.modal-user {
    display: none; /* Hidden by default */
    justify-content: flex-end;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    right: 20px;
    top: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* Modal Content */
  .modal-content-user {
    background-color: #fefefe;
    padding: 16px;
    border: 1px solid #888;
    width: 16%;
  }
  
  /* The Close Button */
  .close-menu {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-menu:hover,
  .close-menu:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-link-user {
    display: block;
    margin: 1em;
    font-size: 16px;
    cursor: pointer;
  }

  .boton {
    font-size: 16px;
    padding: .5em;
    margin: 2em;
    cursor: pointer;
    background-color: rgb(255, 166, 156);
    border-radius: 5px;
    border: none;
}

.boton:hover {
    background-color: rgb(250, 133, 120);
}